<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        #client {
            border: solid 1px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h5 id="invoice-number">Invoice: [[${invoiceNumber}]]</h5>
    <div id="client">
        <h3>[[${client.name}]]</h3>
        <h3>[[${client.address.line1}]]</h3>
        <h3>[[${client.address.line2}]]</h3>
        <h3>[[${client.address.city}]], [[${client.address.state}]] [[${client.address.zip}]]</h3>
    </div>
    <table id="billable-items">
        <thead class="billable-item">
            <td>Description</td>
            <td>Quantity</td>
            <td>Amount</td>
        </thead>
        <tr th:each="item : ${billableItems}" class="billable-item">
            <td>[[${item.description}]]</td>
            <td>[[${item.quantity}]]</td>
            <td>[[${item.amount}]]</td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>[[${total}]]</td>
        </tr>
    </table>
    <div th:if="${notes}" id="notes">
        <h3>Notes:</h3>
        <p>[[${notes}]]</p>
    </div>
</body>
</html>